.container {
  padding: 0;
  margin: 0;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 10px;
}
h1{
  font-size: 20px;
  margin-top: 5px;
  font-weight: initial bold;
  text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  margin-top: 30px;
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.logo-link {
  text-decoration: none;
  cursor: pointer;
  border-radius: 100%;
  margin-left: 10px;
}
.logo {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 5px;
  transition: transform 0.15s ease-in;
}
.logo:hover {
  transform: scale(1.1);
}
.tabs {
  display: flex;
  margin-left: auto;
}
.tab {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.15s ease-in;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.tab:hover {
  color: #185ee0;
}
#ad {
  font-size: large;
  text-decoration: none;
  color: black;
}
#ad:hover {
  color: #185ee0;
}
