.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
}

.navbar-link {
  text-decoration: none;
  color: #343a40;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #007bff;
}
.logo {
  height: 20px;  /* Adjust as needed */
}
