/* AddBlog.css */

.add-blog-container {
  width: 100%;
}

.add-blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-blog-title-input {
  margin: 10px 0;
  width: 50%;
}

.add-blog-content-input {
  height: 200px; /* Adjust this value to your liking */
  width: 50%;
  margin: 10px 0;
  overflow-y: auto;
}

.add-blog-button {
  margin: 10px 0;
}
label{
  margin: 10px;
}
input{
  margin: 10px;
}
#b{
  margin-top: 20px;
  
}
#a {
  margin-top: 130px;
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow-y: auto;
}