.homepage {
  padding: 20px;
  animation: change 25s steps(1) infinite; 
  background-size: cover;
}

@keyframes change {
  
  0%, 10%{
    background-image: url('/src/pages/images/image1.jpeg');
  }
  10%, 20%{
    background-image: url('/src/pages/images/image2.jpeg');
  }
  20%, 30%{
    background-image: url('/src/pages/images/image3.jpeg');
  }
  30%, 40%{
    background-image: url('/src/pages/images/image4.jpeg');
  }
  40%, 50%{
    background-image: url('/src/pages/images/image5.jpeg');
  }
  50%, 60%{
    background-image: url('/src/pages/images/image6.jpeg');
  }
  60%, 70%{
    background-image: url('/src/pages/images/image7.jpeg');
  }
  70%, 80%{
    background-image: url('/src/pages/images/image8.jpeg');
  }

  80%, 90%{
    background-image: url('/src/pages/images/image9.jpeg');
  }
  90%, 100%{
    background-image: url('/src/pages/images/image10.jpeg');
  }


}



.head {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-item {
  margin-bottom: 20px;
}

.blog-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-excerpt {
  font-size: 14px;
  margin-bottom: 10px;
}

.read-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more-link:hover {
  text-decoration: underline;
}
