.single-blog-container {
  padding-top: 60px; /* Adjust this value according to the height of your navbar */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 60px); /* Adjust this value according to the height of your navbar */
  overflow-x: hidden;
  overflow-y: auto;
  animation: change 50s steps(1) infinite; /* Increased animation duration to 60 seconds */
  background-size: cover;
}

.blog-content {
  width: 100%;
  max-width: 800px; /* This value can be adjusted based on how wide you want your content to be */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  word-wrap: break-word;
}

.blog-content h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}


@keyframes change {

  
  0%, 10%{
    background-image: url('/src/pages/images/image1.jpeg');
  }
  10%, 20%{
    background-image: url('/src/pages/images/image2.jpeg');
  }
  20%, 30%{
    background-image: url('/src/pages/images/image3.jpeg');
  }
  30%, 40%{
    background-image: url('/src/pages/images/image4.jpeg');
  }
  40%, 50%{
    background-image: url('/src/pages/images/image5.jpeg');
  }
  50%, 60%{
    background-image: url('/src/pages/images/image6.jpeg');
  }
  60%, 70%{
    background-image: url('/src/pages/images/image7.jpeg');
  }
  70%, 80%{
    background-image: url('/src/pages/images/image8.jpeg');
  }

  80%, 90%{
    background-image: url('/src/pages/images/image9.jpeg');
  }
  90%, 100%{
    background-image: url('/src/pages/images/image10.jpeg');
  }
  

}

